body {
  text-align: center;
}

.shoes  {
  display: flex;
  flex-wrap: wrap; 
}
.shoes > .link {
  text-align: center;
  width: 300px;
  box-shadow:0 0 10px #363636;
  margin: 10px;
}
.shoes >.link:hover {
  background-color: lightgray;
  
}